.submenuchat {
  height: auto;
  width: auto;
  background-color: white;
  position: absolute;
  left: 34%;
  top: 10%;
  z-index: 100;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  padding: 10px;
}
.notch {
  height: 15px;
  width: 15px;
  background-color: white;
  position: absolute;
  top: -7px;
  left: 10%;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
.showsub {
  display: inline;
}
.hidesub {
  display: none;
}
